<ion-view view-title="Assistance">
  <ion-content>
	  	<div style="width: 100%; height: 250px; background-color: #9ba7ad; font-size: 30pt; line-height: 30pt; color: #FFF; padding: 100px 30px;">
	  		<img src="img/fire-disaster.png" style="float: left; display">
	  		<div style="float: left; margin-left: 10px">
	  		<br>
	  		Step 7/7
	  		<br>
	  		<img src="img/trail-active.png">
	  		<img src="img/trail-active.png">
	  		<img src="img/trail-active.png">
	  		<img src="img/trail-active.png">
	  		<img src="img/trail-active.png">
	  		<img src="img/trail-active.png">
	  		<img src="img/trail-active.png">
	  		</div>
	  		</div>
	  	</div>
	  	<div class="turbo-margin">
	  		Peter, who drives a Ford Fiesta,
			<br>will pick you up in 10 minutes. He
			<br>will take you to Laura’s place:
			<br>8429 Aura Ave
			<br>Los Angeles, California
	  	</div>
  </ion-content>
</ion-view>
