<ion-view view-title="Assistance">
  <ion-content>
  	<div class="turbo-parent">
  		<a class="turbo" href="#/app/disaster-flow/1">
	  	<div class="turbo-button" style="height: 150px; background-color: #9ba7ad">
	  		Wild Fire
	  	</div>
	  	<div class="turbo-button" style="height: 150px; background-color: #9ebfce">
	  		Earthquake
	  	</div>
	  	<div class="turbo-button" style="height: 150px; background-color: #7397a5">
	  		Tornado
	  	</div>
	  	<div class="turbo-button" style="height: 150px; background-color: #354f58">
	  		Flood
	  	</div>
	  	<div class="turbo-button" style="height: 150px; background-color: #283b42">
	  		Hurricane
	  	</div>
	  	<div class="turbo-button" style="height: 150px; background-color: #636d6e">
	  		Other
	  	</div>
	  	</a>
  	</div>
  </ion-content>
</ion-view>
