<ion-view view-title="Assistance">
  <ion-content>
	  	<div style="width: 100%; height: 250px; background-color: #9ba7ad; font-size: 30pt; line-height: 30pt; color: #FFF; padding: 100px 30px;">
	  		<img src="img/fire-disaster.png" style="float: left; display">
	  		<div style="float: left; margin-left: 10px">
	  		<br>
	  		Step 2/7
	  		<br>
	  		<img src="img/trail-active.png">
	  		<img src="img/trail-active.png">
	  		<img src="img/trail-inactive.png">
	  		<img src="img/trail-inactive.png">
	  		<img src="img/trail-inactive.png">
	  		<img src="img/trail-inactive.png">
	  		<img src="img/trail-inactive.png">
	  		</div>
	  		</div>
	  	</div>
	  	<div class="turbo-margin">
	  		Do you have all your medicines with you?
	  	</div>
	  	<div class="turbo-margin">
	  		<a href="#/app/disaster-flow/3">
	  		<div class="turbo-screen-button">
	  			Yes
	  		</div>
	  		<div class="turbo-screen-button">
	  			No
	  		</div>
	  		</a>
	  	</div>
  </ion-content>
</ion-view>
